body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #d5ddbc; 
    margin: 0;
    padding: 0;
    width: 100%;
}

.font {
    font-family: 'IM Fell Great Primer SC', serif;
}

header {
    margin-top: 37px;
    margin-bottom: 37px;
    background-color: #d5ddbc; 
    text-align: center;
    line-height: 37.5px;
    size: 25px;
    font-family: 'IM Fell Great Primer SC', serif;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    font-family: 'IM Fell Great Primer SC', serif;
  }

header h1 {
    margin: 0;
}

header h2 {
    margin: 0;
}

.btn {  
    background-color: #931F1D;
    color: #FFF;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 450px;

}

.btn:hover {
    background-color: #943d3b;
    color: #FFF;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}

select {   
    background-color: #937B63;
    width: 550px;
    height: 55px;
    margin: auto;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
}

select#category-select{
    width: 100%;
}

textarea#category-select{
    width: 90%;
    border-width: 3px;
    border-color: #000000;
}

button.btn{
    width: 80%;
    font-family: 'IM Fell Great Primer SC', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
}

.logo{
    width: 100%;
    margin: 0 auto;
    display: block;
    margin-bottom: 37px;
}

.text_chuck{
    width: 550px;
    height: 100px;
    margin: auto;
    display: block;

}

.textarea#text-area{
    margin: auto;
    display: block;
}

.btn_joke{
    width: 40px;
    height: 55px;
    margin: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }

    @media (min-width: 576px) {
      .container {
        max-width: 560px; }
        .select{   
            width: 100%;} }
    @media (min-width: 768px) {
      .container {
        max-width: 750px; }
        .select{   
            width: 100%; } }
    @media (min-width: 992px) {
      .container {
        max-width: 980px; } 
        .select{   
            width: 100%; } }
    @media (min-width: 1200px) {
      .container {
        max-width: 450px; } 
        .select{   
            width: 100%; } }
    @media (min-width: 1980px) {
        .container {
          max-width: 1140px; } 
          .select{   
             width: 100%; } }        
